
/* Main color definitions */
$primary-color: #000000;
$secondary-color: #E4E4E4;
$tertiary-color: #F7FCF1;
$ao-color: rgba(178,203,7,1);

// Button and link colors
$primary-action-color: $ao-color !default;
$default-action-color: $ao-color !default;
$action-color-change: 10% !default;

// Navigation
$header-text-color: #ffffff !default;
$navigation-arrows-visible: false;

$nav-button-color: $primary-color !default;
$nav-button-text-color: #fff !default;
$nav-button-ref-color: #fff !default;
$active-nav-button-color: rgba(178,203,7,0.8);
$active-nav-button-text-color: #ffffff !default;
$active-nav-button-ref-color: #ffffff !default;

$nav-item-color: $ao-color !default;
$nav-item-text-color: #fff !default;
$nav-item-ref-color: #fff !default;

/* Header */
$section-header-color: $primary-color !default;
$section-header-ref-color: #FFFFFF !default;
$section-header-text-color: $secondary-color !default;
$section-header-source-text-color: rgba($secondary-color, 0.6) !default;
$active-section-header-color: color($primary-color lightness(17%));
$active-section-header-ref-color: $section-header-ref-color !default;
$active-section-header-text-color: $section-header-text-color !default;
$active-section-header-source-text-color: rgba($primary-color, 0.6) !default;
$main-section-header-source-text-color: #fff !default;

// Fonts
$primary-font: Helvetica, Arial, sans-serif !default;
$secondary-font: Helvetica, Arial, sans-serif !default;

$min-content-margin: 13px !default;
$content-margin: 30px !default;

// Misc
$designer-tool-width: 30% !default;
$designer-tool-width-mobile: 90% !default;
$header-height: 90px !default;
$menu-height: 40px !default;

$content-max-width: none !default;
$mobile: "screen and (max-width: 768px)" !default;