// Image
//
// Base styling for media elements
//
// Markup:
// <img typeof="foaf:Image" src="/images/styleguide/ao_person.jpg" width="400px" height="400px" alt="this is not the image you are looking for.">
//

img {
  // reset
  margin: 0; //todo: normalize should do this... open issue https://github.com/necolas/normalize.css/issues/74
  line-height: 0;

  max-width: 100%;
  height: auto;
}
