{% extends "@layouts/01-l-site.twig" %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
    <h1>{{ title }}sad</h1>
<form action="{{ 'pathtopostto' }}"
      method="post"> <!-- Used route name in action -->
    {% include "@elements/22-clients/clients-form.twig" %}
</form>
{% endblock %}

