// Counter
//
// Markup:
// <a class="counter-edit" href="#edit">
//   <h2 class="counter-edit__name">CounterName</h2>
//   <span class="counter-edit__value">103</span>
// </a>

.counter-edit {
  position: relative;
  background-color: $color-white--dark;
  padding: rhythm(1);
  text-align: center;
  text-decoration: none;
  display: block;
  color: $color-primary;
  &:hover {
    color: $color-primary;
  }

  &:after {
    content: 'edit';
    background-color: $color-primary;
    color: $color-white;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    text-transform: uppercase;
  }
  &:hover::after {
    opacity: 1;
  }
  &__name {
    @include set-font-size($font-size-l);
    font-family: $tertiary-font-family;
    margin-bottom: 0;
  }
  &__value {
    @include set-font-size($font-size-xl);
    font-family: $secondary-font-family;
  }
}