// Counter
//
// Markup:
// <div class="counter">
//   <h2 class="counter__name">CounterName</h2>
//   <span class="counter__value">103</span>
// </div>

.counter {
  position: relative;
  background-color: $color-white--dark;
  padding: rhythm(1);
  text-align: center;
  text-decoration: none;
  display: block;
  color: $color-primary;
  &__name {
    @include set-font-size($font-size-l);
    font-family: $tertiary-font-family;
    margin-bottom: 0;
  }
  &__value {
    @include set-font-size($font-size-xl);
    font-family: $secondary-font-family;
  }
}