// Hoverslides
//
// Info about wo acolono is, what they do and why!
//
// Markup:
// <a href="https://www.acolono.com" target="_blank" class="hoverslide">
//   <div class="hoverslide__frame">
//   <span class="hoverslide__corner"></span>
//     <div class="hoverslide__cover hoverslide__cover--who">
//       <h3 class="hoverslide__headline">
//         Who?
//       </h3>
//     </div>
//   </div>
//   <div class="hoverslide__frame">
//     <img src="images/02.jpg" />
//   </div>
//   <div class="hoverslide__frame">
//     <img src="images/03.jpg" />
//   </div>
//   <div class="hoverslide__frame">
//     <img src="images/04.jpg" />
//   </div>
//   <div class="hoverslide__frame">
//     <div class="hoverslide__cover hoverslide__cover--what">
//       <h3 class="hoverslide__headline">
//         What?
//       </h3>
//     </div>
//   </div>
//   <div class="hoverslide__frame">
//     <img src="images/06.jpg" />
//   </div>
//   <div class="hoverslide__frame">
//     <img src="images/07.jpg" />
//   </div>
//   <div class="hoverslide__frame">
//     <img src="images/08.jpg" />
//   </div>
//   <div class="hoverslide__frame">
//     <div class="hoverslide__cover hoverslide__cover--how">
//       <h3 class="hoverslide__headline">
//         How?
//       </h3>
//     </div>
//   </div>
//   <div class="hoverslide__frame">
//     <img src="images/10.jpg" />
//   </div>
//   <div class="hoverslide__frame">
//     <img src="images/11.jpg" />
//   </div>
//   <div class="hoverslide__frame">
//     <img src="images/12.jpg" />
//   </div>
//   <div class="hoverslide__frame">
//     <div class="hoverslide__cover hoverslide__cover--why">
//       <h3 class="hoverslide__headline">
//         Why?
//       </h3>
//     </div>
//   </div>
//   <div class="hoverslide__frame">
//     <img src="images/14.jpg" />
//   </div>
//   <div class="hoverslide__frame">
//     <img src="images/15.jpg" />
//   </div>
//   <div class="hoverslide__frame">
//     <img src="images/16.jpg" />
//   </div>
//   <div class="hoverslide__frame">
//     <div class="hoverslide__cover hoverslide__cover--info">
//       <h3 class="hoverslide__headline">
//         let's
//       </h3>
//     </div>
//   </div>
//   <div class="hoverslide__frame">
//     <div class="hoverslide__cover hoverslide__cover--info">
//       <h3 class="hoverslide__headline">
//         build
//       </h3>
//     </div>
//   </div>
//   <div class="hoverslide__frame">
//     <div class="hoverslide__cover hoverslide__cover--info">
//       <h3 class="hoverslide__headline">
//         something
//       </h3>
//     </div>
//   </div>
//   <div class="hoverslide__frame">
//     <div class="hoverslide__cover hoverslide__cover--info">
//       <h3 class="hoverslide__headline">
//         great!
//       </h3>
//     </div>
//   </div>
//   <div class="hoverslide__frame">
//     <div class="hoverslide__cover hoverslide__cover--info">
//       <h3 class="hoverslide__headline">
//         a:o
//       </h3>
//     </div>
//   </div>
// </a>
//
// Styleguide 2.140


$hoverslide-width: 200px;
$hoverslide-height: 200px;

$hoverslide-keyframes: 21;
$hoverslide-frame-time: .5s;
$hoverslide-animation-time: $hoverslide-keyframes * $hoverslide-frame-time;

.hoverslide {
  display: block;
  position: relative;

  img {
    line-height: 0;
  }
  width: $hoverslide-width;
  height: $hoverslide-height;

  .hoverslide__frame {
    width: $hoverslide-width;
    height: $hoverslide-height;
    top: 0;
    left: 0;
    position: absolute;
    animation: frameShow $hoverslide-animation-time linear infinite 0s forwards;
    animation-play-state: paused;
  }
}

.hoverslide:hover .hoverslide__frame {
  animation-play-state: running;
}
@keyframes frameShow {
  0% {
    visibility: visible; z-index: 100;
  }

  90% {
    visibility: visible; z-index: 100;
  }

  90% {
    visibility: hidden; z-index: 0;
  }

  100% {
    visibility: hidden; z-index: 0;
  }
}

@for $hoverslide-number from 1 through ($hoverslide-keyframes) {
  .hoverslide__frame:nth-child(#{$hoverslide-number}) {
    @if $hoverslide-number != 1 {
      $delay-factor: $hoverslide-number - 1;
      animation-delay: $delay-factor * $hoverslide-frame-time;
    }
  }
}
@for $hoverslide-number from 1 through $hoverslide-keyframes {
  .hoverslide__frame:nth-child(#{$hoverslide-number}) {
    z-index: $hoverslide-number;
  }
}

.hoverslide__cover {
  background-color: $color-black;
  width: 100%;
  height: 100%;
}

.hoverslide__headline {
  color: $color-white;
  @include set-font-size(50px);
  font-family: $primary-font-family;
  margin: 0;
  padding: 0;
  line-height: $hoverslide-height;
  height: $hoverslide-height;
  text-align: center;
  display: block;
}

.hoverslide__cover--who {
  background-color: $color-ao-green;
}

.hoverslide__cover--what {
  background-color: $color-ao-orange;
}

.hoverslide__cover--how {
  background-color: $color-ao-blue;
}

.hoverslide__cover--why {
  background-color: $color-ao-red;
}

.hoverslide__cover--info .hoverslide__headline {
  @include set-font-size(30px);
  line-height: $hoverslide-height;
  background-color: $color-ao-green;
}

@keyframes foldedCornerIndicator {
  0% {
    border-width: 0 20px 20px 0;
    background: darken($color-ao-green, 5%);
  }

  50% {
    border-width: 0 30px 30px 0;
    background: darken($color-ao-green, 15%);

  }

  100% {
    border-width: 0 20px 20px 0;
    background: darken($color-ao-green, 5%);
  }
}

.hoverslide__cover--who {
  position: relative;
}

.hoverslide__corner {
  z-index: 1;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0;
  border-style: solid;
  background: $color-ao-green;
  border-color: #fff #fff transparent transparent;
  animation: foldedCornerIndicator 2s infinite;
}
