// Menu Primary
//
// This is the Primary menu.
//
// Markup:
//  <ul class="menu-primary">
//  <li><a href="#">Home</a></li>
//  <li><a href="#">Counters</a></li>
//  <li><a href="#">About</a></li>
//  </ul>
//
// Styleguide 2.30

.menu-primary {
  @include reset-list();

  background: $color-primary;

  display: flex;

  flex-flow: row wrap;
  justify-content: flex-end;
  a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  a:hover {
    background: darken($color-primary, 2%);
  }
}

@include breakpoint($l-to-tablet) {
  .menu-primary {
    li {
      flex-grow: 1;
      text-align: center;
    }
  }
}

@include breakpoint($l-to-phablet) {
  .menu-primary {
    flex-flow: column wrap;
    padding: 0;
  }

  .menu-primary a {
    text-align: center;
    padding: rhythm(.5);
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }

  .menu-primary li:last-of-type a {
    border-bottom: none;
  }
}