{% extends "@layouts/01-l-site.twig" %}

{% block content %}
    <h1>View Counter {{ name }}</h1>
    <form action="{{ name }}"
          method="post"> <!-- Used route name in action -->

        {% include "@elements/21-counter/counter-form.twig" %}

    </form>

{% endblock %}