
$ribbon-wrapper-background: $color-white;
$ribbon-font-size: $font-size-s;
$ribbon-position: left; // "left" or "right"

$ribbon-styles: ("new", $color-error, "New") ("sold", $color-gray--light, "Sold") ("free", $color-ao-green, "Free");
