<!DOCTYPE html>
<html>
<head>
  {% block head %}
    {% block stylesheets %}
      <link rel="stylesheet" href="../../assets/css/style.css?{{ cacheBuster }}" media="all"/>
    {% endblock %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
  {% endblock %}
</head>
<body>

{% block page %}
{% endblock %}

{% block javascripts %}
{% endblock %}
</body>
</html>
