<!DOCTYPE html>
<html>
<head>
  {% block head %}
    {% block stylesheets %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
  {% endblock %}
</head>
<body>


<div class="l-site">
  <header role="banner" class="l-site__header">
    {% block header %}
      {% include  "elements-header" %}
    {% endblock %}  </header>
  {% block content %}

  {% endblock %}
  <footer class="l-site__footer" role="contentinfo">
    <div class="l-site__footer-content">
      {% block footer %}
      {% endblock %}
    </div>
  </footer>
</div>

{% block javascripts %}
{% endblock %}
</body>
</html>