// Icon
//
// Styleguide 0.3

// Favicon
//
// Markup:
// <img src="/images/styleguide/logo-ao.png" style="width:16px; height:16px">
//
// Styleguide 0.3.1

// iOS
//
// Markup:
// <div class="sg-ios-icon">
// </div>
//
// Styleguide 0.3.10

.sg-ios-icon {
  display: block;
  width: 72px;
  height: 72px;
  background-color: $color-gray;
  border-radius: 16px;
  background: image-url("styleguide/logo-ao.png");
  background-size: 72px 72px;
}