// Navigation BackToTop
//
// Markup:
// <a href="#main-content" data-scroll="" class="backtotop">Nach&nbsp;Oben</a>
//
// sg-wrapper:
// <div style="height:800px">
// demo space
// </div>
//   <sg-wrapper-content/>
//
// Styleguide 2.43


$back-to-top-size: rhythm(1.5) !default;

a.backtotop {
  color: $color-primary;
  text-transform: uppercase;
  text-align: center;
  display: block;
  @include set-font-size(12px);
  letter-spacing: .1rem;
  text-decoration: none;
  margin-bottom: rhythm(2);

  &:before {
    display: block;
    text-align: center;
    content: "";
    background: image-url("backtotop.svg") no-repeat center center transparent;
    width: 100%;
    height: $back-to-top-size;
    background-size: 30px 17px;
  }

  &:hover {
    //color: $color-secondary;
  }
}
