// Drop
//
// Test just for fun
//
// Markup:
// <div class="drop">
// </div>
//
// Styleguide 1.15

.drop {
  background-color: $color-secondary;
  width: rhythm(2);
  height: rhythm(2);
  transform: rotate(45deg);
  border-radius: 100%;
  transition: all .2s ease-out;

  &:hover {
    border-radius: 0 100% 100%;
  }
}
