// Badge
//
// default                          - normal
// .is-new                          - new items
//
// Markup:
//  <div class="badge {$modifiers}">
//    1
//  </div>
//
// Styleguide 1.5

$badge-color: $color-gray--dark;
$badge-color-new: $color-error;
$badge-color-background: $color-gray--light;
$badge-margin: rhythm(.25);
$badge-height: rhythm(1);

.badge {
  display: inline-block;
  height: $badge-height;
  font-size: $font-size-s;
  font-weight: 500;
  color: $badge-color;
  line-height: $badge-height;
  padding: 0 ($badge-height / 2);
  border-radius: ($badge-height / 2);
  background-color: $badge-color-background;
  margin-bottom: $badge-margin;
  margin-right: $badge-margin;

  &.is-new {
    color: #fff;
    background-color: $badge-color-new;

    &:after {
      content: " new";
    }
  }
}
