// Branding
//
// Styleguide 1.1


// Site Logo
//
// The acolono GmbH logo. Displayed in the website header.
//
// Markup:
// <a href="#" title="Home" rel="home" class="site-logo">
//   <img typeof="foaf:Image" src="images/opencounter-logo.png" alt="OpenCounter Logo">
// </a>
//
// Styleguide 1.1.1

.site-logo {
  display: inline-block;
  img {
    height: 100%;
    max-width: auto;
  }
}


// Site Name
//
// Markup:
// <a href="/section/10.1/fullscreen" title="Home" rel="home" class="site-name">
//   <h1>OpenTrigger</h1>
// </a>
//
// Styleguide 1.1.2

.site-name > * {
  color: $color-white;
  text-decoration: none;
  @include set-font-size($font-size-m);
  display: inline;
}