// Menu Toggle
//
// This is the Burger
//
// default         - default style.
// .is-active      - show a close symbol instead of burger.
//
// Markup:
// <button class="menu-toggle {$modifiers}" type="button" role="button" aria-label="Toggle Navigation">
//   <span class="lines"></span>
// </button>
//
// Styleguide 1.31


//menu-toggle
$button-size: 48px;
$transition: .3s; // increase this to see the transformations in slow-motion

@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/7;
  background: $color-white; //Color of the hammenu-toggle and x
  border-radius: 0; //if we want to have round corners add "$button-size/14"
  transition: $transition;
}

.menu-toggle {
  //display: inline-block; //do we need this?
  padding: $button-size/2 $button-size/4;
  cursor: pointer;
  user-select: none;
  border-radius: 0; //if we want to have round corners add "$button-size/7"
  border: 0; //rewrite browser default
  background-color: $color-primary;

  &:active {
    transition: none;
  }

  &:focus {
    outline: none;
  }
}

.lines {
  //create middle line
  @include line;
  position: relative;

  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before,
  &:after {
    @include line;
    position: absolute;
    left: 0;
    content: "";
    transform-origin: $button-size/14 center;
  }

  &:before {
    top: $button-size/4;
  }

  &:after {
    top: -$button-size/4;
  }
}

.menu-toggle .lines {
  transition: background .3s .6s ease;

  &:before,
  &:after {
    //set transform origin back to center
    transform-origin: 50% 50%;
    transition: top .3s .6s ease, transform .3s ease;
  }
}

.menu-toggle.is-active .lines,
.responsive-toggled .menu-toggle .lines {
  transition: background .3s 0s ease;
  background: transparent;

  &:before,
  &:after {
    transition: top .3s ease, transform .3s .5s ease;
    top: 0;
    width: $button-size;
  }

  &:before {
    transform: rotate3d(0, 0, 1, 45deg);
  }

  &:after {
    transform: rotate3d(0, 0, 1, -45deg);
  }
}

// Hide toggler by default and display it when responsive menu is active.
.responsive-menu-toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  display: none;

  &.is-responsified {
    display: block;
  }
}

// When responsive menu region is shown always display the toggler.
.responsive-menu-active .responsive-menu-toggler {
  display: block;
}

.header--scrolled-full .responsive-menu-toggler.is-responsified {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}
