// SVG
//
// Styleguide 1.2000

// a:o Logo
//
// Markup:
// <svg class="ao-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" enable-background="new 0 0 256 256">
//   <style>
//    .ao-logo__box {
//      fill: #aec90b;
//      stroke: #aec90b;
//      stroke-linecap: square;
//      stroke-linejoin: square;
//      stroke-width: 6;
//      fill-opacity: 0;
//      stroke-dasharray: 1000;
//      stroke-dashoffset: 1000;
//      animation-name: box-bg, ao-logo-drawline;
//      animation-duration: 1s, .6s;
//      animation-delay: 1s, .4s;
//      animation-fill-mode: forwards;
//    }
//   .ao-logo__a {
//     stroke:#fff;
//     stroke-width:6;
//     fill: none;
//     stroke-linecap:round;
//     stroke-linejoin:round;
//     fill-opacity: 0;
//     stroke-dasharray: 240;
//     stroke-dashoffset: 240;
//     animation: ao-logo-drawline 2s 1.4s ease forwards;
//   }
//   .ao-logo__points {
//     stroke:#fff;
//     stroke-width:6;
//     fill: #fff;
//     stroke-linecap:round;modules
//     stroke-linejoin:round;
//     fill-opacity: 0;
//     stroke-opacity: 0;
//   }
//   .ao-logo__point-1 {
//     animation: ao-logo-show 0s 2.2s ease forwards;
//   }
//   .ao-logo__point-2 {
//     animation: ao-logo-show 0s 2.4s ease forwards;
//   }
//   .ao-logo__o {
//     stroke:#fff;
//     stroke-width:6;
//     fill: none;
//     stroke-linecap:round;
//     stroke-linejoin:round;
//     fill-opacity: 0;
//     stroke-dasharray: 370;
//     stroke-dashoffset: 370;
//     animation: ao-logo-drawline 2s 2.6s ease forwards;
//   }
//   @keyframes box-line {
//     to {
//       stroke-dashoffset: 0;
//     }
//   }
//   @keyframes box-bg {
//     to {
//       fill-opacity: 1;
//     }
//   }
//   @keyframes ao-logo-drawline {
//     to {
//       stroke-dashoffset: 0;
//     }
//   }
//   @keyframes ao-logo-show {
//     to {
//       stroke-opacity: 1;
//       fill-opacity: 1;
//     }
//   }
//   </style>
//   <rect class="ao-logo__box" x="3" y="3" width="250" height="250"/>
//   <polyline class="ao-logo__a" points="38,159.2 73,98.6 108,159.2 73,98.6"/>
//   <g class="ao-logo__points">
//   <circle class="ao-logo__point-1" cx="127.8" cy="115.3" r="3"/>
//   <circle class="ao-logo__point-2" cx="127.8" cy="140.7" r="3"/>
//   </g>
//   <circle class="ao-logo__o" cx="184.8" cy="128" r="33.2"/>
// </svg>
//
// sg-wrapper:
// <div style="width:200px; height:200px;">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 1.2000.1

// Fresh Web Text
//
// We have extra space on the right, so the / is centered
//
// Markup:
// <svg class="svg-fresh-web xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1511.3 417.1" style="enable-background:new 0 0 1511.3 417.1">
//   <g>
//     <path class="fresh-web__line" d="m831.6 12.9l-151.8 391.3"/>
//     <path class="fresh-web__line" d="m86.8 15.3c-2.8-.7-7.4-1.3-12.7-1.3-9.4 0-19.6 4-24.9 10.1-5.3 6.1-9 17.8-9 28.7v160.4"/>
//     <path class="fresh-web__line" d="m19 213.3h43.6"/>
//     <path class="fresh-web__line" d="m115.4 213.3h42.5"/>
//     <path class="fresh-web__line" d="m17.3 79.4h60.1"/>
//     <path class="fresh-web__line" d="m375.9 179.3v19.8c5.6 5.7 11.7 9.5 20 12.7 8.2 3.1 17.3 4.7 27.1 4.7 14.3 0 25.7-3.3 34.4-9.9 8.6-6.6 12-15.6 12-26.2 0-7.8-5.4-18.2-11.9-22.7-8.1-5.6-18-10.1-33.1-13.4-15.8-3.5-28.7-7.7-36-13.2-6-4.5-10-11.5-10-21.8 0-9.7 2.3-15.7 10.5-22.2 8.1-6.5 19.2-10.8 33-10.8 9.7 0 17.4 1.8 25.6 5.1 8.2 3.3 14 7.2 19 12.8"/>
//     <path class="fresh-web__line" d="m507.4 213.3h42.9"/>
//     <path class="fresh-web__line" d="m602.3 213.3h41.9"/>
//     <path class="fresh-web__line" d="m859 213.3h42"/>
//     <path class="fresh-web__line" d="m1021.2 213.3h42.1"/>
//     <path class="fresh-web__line" d="m328.5 199.4c-12.9 12.9-24.5 16-41.7 16.8-17.5.8-31.4-6.9-42.3-19.4-11-12.6-15.9-28-15.9-47.9v-5.2c0-19.8 5.5-35.4 15.9-48.4 9.5-11.8 24.1-18.5 41.6-18.5 13.8 0 25.7 5 36.6 17.6 9.4 10.9 12.6 27.5 11.4 43.6h-105.4"/>
//     <path class="fresh-web__line" d="m466.5 94.2v21"/>
//     <path class="fresh-web__line" d="m507.5 16.9h21.2v196.4"/>
//     <path class="fresh-web__line" d="m623.4 213.3v-85.8c0-19.2-4.1-30.7-11.1-38.6-7.1-7.9-16.5-12-28.3-12-17.7 0-31.9 6.2-40.1 15.8-7.1 8.4-13 20.8-15.2 35.5"/>
//     <path class="fresh-web__line" d="m193.1 77c-4.2-1-8.7-1-11.6-.9-11.2.5-22.9 6.8-30 15.5-6.2 7.5-12 19.3-14.4 32.5"/>
//     <path class="fresh-web__line" d="m1229.8 150.4h21.1v196.4"/>
//     <path class="fresh-web__line" d="m1197.1 333.1c-12.9 12.9-24.5 16-41.7 16.8-17.5.8-31.4-6.9-42.3-19.4-11-12.6-15.9-28-15.9-47.9v-5.2c0-19.8 5.5-35.4 15.9-48.4 9.5-11.8 24.1-18.5 41.6-18.5 13.8 0 25.7 5 36.6 17.6 9.4 10.9 12.6 27.5 11.4 43.6h-105.3"/>
//     <path class="fresh-web__line" d="m1250.9 250c2.6-7 7-15.1 11.3-20.6 8.3-10.7 20-18.8 40.3-18.8 16.7 0 26.8 5.7 35.8 16.7 9.6 11.6 14.5 34.3 14.5 50.2v5.2c0 19.9-6 40.9-15.5 51.9-10.9 12.6-21.6 16-39.2 15.5-17-.5-34.5-9.8-47.3-33.3"/>
//     <path class="fresh-web__line" d="m876.9 213.3l39.2 131.7 45.1-131.7 45.1 131.7 39.1-131.7"/>
//     <path class="fresh-web__line" d="m115.1 79.3h22v134"/>
//   </g>
// </svg>
//
// sg-wrapper:
// <div style="max-width:600px; height:auto;">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 1.2000.2

.fresh-web__line {
  stroke-miterlimit: 10; //?
  stroke: $color-black; // #aec90b;
  stroke-width: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill-opacity: 0;
  stroke-dasharray: 560;
  stroke-dashoffset: 560;
  vector-effect: non-scaling-stroke;

  animation: ao_logo__drawline 2s 1s ease forwards;

  @keyframes ao_logo__drawline {
    to {
      stroke-dashoffset: 0;
    }
  }
}
