// Site Layout Header
//
// Markup:
// <header role="banner">
//   <div class="layout-header">
//     <!-- Logo --><sg-insert>2.20</sg-insert>
//   </div>
// </header>
//
// Styleguide 4.1000.1

header[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  max-height: rhythm(2);

  .layout-header {
    width: 100%;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rhythm(1);
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    max-height: rhythm(2);
  }
}