<form action="/admin/content/add/counter" method="post"> <!-- Used route name in action -->
    <fieldset>
        <input name="name" placeholder="name" type="name">
        <input name="value" placeholder="value" type="value">
        <input name="status" placeholder="status...">
    </fieldset>
    <input id="submit" class="button" type="submit">
    {{ forms.input("name") }}
    {{ forms.input("value") }}
    {{ forms.input("status") }}
</form>