@import "../abstractions/vertical_rythm_rem";

$color-form-main: $color-primary !default;
$color-form-font: $color-black !default;
$form-font-size: 16px; // should be at least 16px to prevent iOS devices to zoom into the fields on focus!
$form-font-letter-spacing: 0.01rem !default;
$form-font-family: $primary-font-family;


$form-margin: rhythm(0.25) !default;
$form-padding: rhythm(0.5) !default;
$form-height: rhythm(2) !default;

$form-border-size: $border-size !default;
$form-border-color: $color-border !default;
$form-border: $form-border-size solid $form-border-color !default;
$form-background-color: rgba(0, 0, 0, 0.05);

$form-checkbox-size: 2rem !default;
$form-radio-size: 2rem !default;