
// Max content width.
$max-content-width: 1600px;

// Default Padding-left and padding-right for Content.
$content-padding-mobile: 12px;
$content-padding-mobileup: 25px; // rhythm(1) doesn't work here.
