// Section
//
// Section Layout
// Just Wrapper Elements. You may use "< sg-insert >SECTIONNUMBER< /sg-insert >" and define you own Section Components which could be used in the component.
//
// Markup:
// <section class="section">
//   <h2 class="section__headline">Section Headline</h2>
//   <div class="sg-example-block">Content children element</div>
// </section>
//
// Styleguide 4.10

.section {
  margin-bottom: rhythm(1);
  @include clearfix;
  @include set-font-size($font-size-m);
}

// Section Layout Side By Side Content
//
// Section with content aligned side by side
//
// Markup:
// <section class="section">
//   <h2 class="section__headline">Section Headline</h2>
//   <div class="section__row">
//     <div class="sg-example-block">Content children element <br /> Row 1</div>
//   </div>
//   <div class="section__row">
//     <div class="sg-example-block">Content children element <br /> Row 2</div>
//   </div>
// </section>
//
// Styleguide 4.10.1

.section__row:first-of-type {
  margin-bottom: rhythm(1);
}

@include breakpoint($l-tablet-up) {
  .section__row:first-of-type {
    @include span(7 of 12);
    @include post(1 of 12);
    margin-bottom: 0;
  }

  .section__row:nth-of-type(2) {
    @include span(4 of 12 last);
  }
}

.section__headline {
  @include separator;
  @include section-headline;
}