{% extends "_layout.twig" %}

{% block page %}

  <div class="l-site">
    {% block header %}
      <header role="banner" class="l-site__header">
        {% include  "@elements/20-global/header.twig" %}
      </header>
    {% endblock %}
sdffsd
    {% block content %}
      fdsfsdf
    {% endblock %}

    {% block footer %}

      <footer class="l-site__footer" role="contentinfo">
        {% include  "@elements/20-global/footer.twig" %}
      </footer>
    {% endblock %}
  </div>

{% endblock %}

