{% extends "_layout.twig" %}

{% block page %}

  <div class="l-site-tool">
    {% block header %}
      <header role="banner" class="l-site__header">
        {% include  "@elements/20-global/header.twig" %}
      </header>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}

      <footer class="l-site__footer" role="contentinfo">
        <div class="l-site__footer-content">
          {% include  "@elements/20-global/footer.twig" %}
        </div>
      </footer>
    {% endblock %}

  </div>

{% endblock %}

