// Button Variables
$button-primary-color: $color-primary !default;
$button-secondary-color: $color-secondary !default;

$button-base: 15px !default;

$button-base-padding: rhythm(.5) rhythm(1) !default;
$button-base-margin: 0 0 0 0 !default;


$button-tiny-base: 5px !default;
$button-small-base: 10px !default;
$button-large-base: 15px !default;

$button-font-color: $color-primary !default;

$button-color-alert: $color-error !default;
$button-color-success: $color-success !default;

$button-font-size-px: 17px !default;
$button-font-size-rem: 1.7rem !default;

$button-transition-speed: .25s !default;
$button-transition-ease: ease-in-out !default;

$button-radius: 6px !default;

$button-border-width: 1px !default;

$hover-change: 5%;

// Base Button Style
@mixin button-style-base {
  @include disable-mouse-outline;
  display: inline-block;
  padding: $button-base-padding;
  margin: $button-base-margin;
  width: auto;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color $button-transition-speed ease-out, color $button-transition-speed ease-out;
  vertical-align: middle;
  border: $border-size solid transparent;
  border-radius: 0;
  box-sizing: border-box;
  @include set-font-size(15px);
  background-color: $button-primary-color;
  text-transform: uppercase;
  font-family: $primary-font-family;
  letter-spacing: .1rem;
  text-decoration: none;
  color: $color-white;
  touch-action: manipulation;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: darken($button-primary-color, 10%);
  }
}


// Ghost
@mixin button-style-ghost {
  background-color: transparent;
  border: $border-size $color-primary solid;
  color: $button-font-color;
}

@mixin button-style-round {
  border: $border-size $color-primary solid;
  border-radius: $button-radius;
  color: $color-primary;
}

@mixin button-expand {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

@mixin button-extend {
  margin-left: auto;
  margin-right: auto;
  display: table;
}
