@import "grid";
// Generic breakpoints.
$l-mobile-up: 390px, "no-query" true;
$l-mobile: 390px 768px, "no-query" true; //just Mobile

$l-to-phablet: 0 549px, "no-query" true;
$l-phablet-up: 550px, "no-query" true;
$l-phablet: 549px 780px, "no-query" true; //just Tablet


$l-to-tablet: 0 768px, "no-query" true;
$l-tablet-up: 769px, "no-query" true;
$l-tablet: 769px 1220px, "no-query" true; //just Tablet

$l-to-desktop: 0 1219px, "no-query" true;
$l-desktop-up: 1220px, "no-query" true;

$l-panels-beside: 769px, "no-query" true; // Sidebars break into a single one.
$l-content-max: $max-content-width, "no-query" true; // Maximal width for content area.
