{% extends "@patterns/05-layouts/00-default.twig" %}

{% block content %}
    <h1>All Clients Listing</h1>
    {% include "@atoms/05-buttons/01-button.twig" with {text: 'Add New Client', url: '/admin/clients/add'} %}
    {% include "@elements/22-clients/clients-list.twig" %}

{% endblock %}