// Site Layout
//
// Markup:
// <div class="layout-site">
//   <!-- Header --><sg-insert>4.1000.1</sg-insert>
//   <!-- Main --><sg-insert>4.1000.2</sg-insert>
//   <!-- Footer --><sg-insert>4.1000.3</sg-insert>
// </div>
//
// Styleguide 4.1000

@import "../l-site-default/header";
@import "../l-site-default/body";
@import "../l-site-default/main";
@import "../l-site-default/footer";


.layout-site {
  max-width: 920px;
  padding-left: 10px;
  padding-right: 10px;

  margin-top: rhythm(3); //for fixed header

  // center the region
  margin-left: auto;
  margin-right: auto;
  // we need this if the region or wrapper gets position fixed (like if there is an overlay component on top which will set this.
  left: 0;
  right: 0;
  position: inherit;
}

.html {
  background-color: $color-white;
}
